@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Roboto', sans-serif;
  background: url(forest.jpg);
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 500px;
    padding: 40px;
    background-color: rgba(119, 26, 26, 0.00);
    box-shadow: 0 8px 32px 0 rgba(156, 154, 28, 0.37);
    backdrop-filter: blur(2.0px);
    -webkit-backdrop-filter: blur(2.0px);
    border-radius: 3em;
}
#one{
    margin-top: 50px;
    padding: 20px;
    border-radius: 1em;
    color: #fff;
    background-color: rgb(156, 9, 9);
    box-shadow: 8px 8px 28px 0 rgb(97, 22, 22);
}
#two{
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 1em;
    color: #fff;
    background-color: rgb(12, 12, 141);
    box-shadow: 8px 8px 28px 0 rgb(5, 5, 90);
}
#one:hover{
    background-color: red;
    box-shadow: 8px 8px 28px 0 rgb(185, 50, 50),
                -8px -8px 28px 0 rgb(185, 50, 50);
}
#two:hover{
    background-color: rgb(49, 49, 243);
    box-shadow: 8px 8px 28px 0 rgb(6, 6, 240),
                -8px -8px 28px 0 rgb(6, 6, 240);
}
.card:hover{
    box-shadow: 0 8px 32px 0 rgb(241, 237, 13);
}